extends layout

block content
    h1= title
    p Welcome to #{title}
    p Listening on port #{port}
    ul
        each file in files
            li
                a(href=`/doc/${file}`) #{file}
    .translation-container
        .translation-input
            div
                label(for='sourceText') Source Text:
                textarea(id='sourceText', name='sourceText')
        .translation-controls
            button(type='button', onclick='translateText()') Translate
        .translation-output
            div
                label(for='resultText') Translation Result:
                textarea(id='resultText', readonly='readonly')
    script.
        function translateText() {
            const sourceText = document.getElementById('sourceText').value;
            if (!sourceText) {
                alert('Please fill in required fields');
                return;
            }
            const url = window.location.origin + '/translate';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({text: sourceText})
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('resultText').value = data.translation;
                })
                .catch(error => console.error('Error:', error));
        }