extends layout

block content
    .container
        h1= title
        p Welcome to #{title}
        p Listening on port #{port}
        ul.list-group
            each file in files
                li.list-group-item
                    a(href=`/doc/${file}`) #{file}
        .translation-container
            .mb-3
                label(for='sourceText', class='form-label') Source Text:
                textarea(id='sourceText', name='sourceText', class='form-control', rows='10', cols='50')
            .mb-3
                button(type='button', class='btn btn-primary', onclick='translateText()') Translate
            .mb-3
                label(for='resultText', class='form-label') Translation Result:
                textarea(id='resultText', readonly='readonly', class='form-control', rows='10', cols='50')
    script.
        function translateText() {
            const sourceText = document.getElementById('sourceText').value;
            if (!sourceText) {
                alert('Please fill in required fields');
                return;
            }
            const url = window.location.origin + '/translate';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({text: sourceText})
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('resultText').value = data.translation;
                })
                .catch(error => console.error('Error:', error));
        }